.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background-color: #fff;
  font-family: sans-serif;
}

.brand-large {
  font-size: 3.5rem;
  font-weight: 800;
  color: #000;
  letter-spacing: -1.5px;
  margin-bottom: 5px;
}

.brand-highlight {
  background-color: #f0f0f0;
  padding: 0 5px;
  border-radius: 8px;
}

.login-subtitle {
  color: #e0e0e0;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 60px;
}

.breadcrumb {
  color: #e0e0e0;
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 60px;
  letter-spacing: 1px;
}

.btn-start {
  background-color: #d9d9d9;
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
  width: 100%;
  max-width: 300px;
  padding: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 20px;
}

.link-how {
  color: #777;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.9rem;
}