.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-content {
  text-align: center;
  width: 100%;
}

.login-title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--primary-green);
  line-height: 1;
  margin-bottom: 10px;
}

.login-subtitle {
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 50px;
}

.btn-login {
  width: 100%;
  padding: 20px;
}