.card-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
  width: 100%;
}

.plan-card {
  width: 100%;
  padding: 18px;
  border-radius: 12px;
  background-color: #f0f4f8; /* Azulzinho bem claro */
  text-align: center;
  font-weight: 700;
  color: #333;
  font-size: 1.05rem;
}

.waiting-box {
  border: 1px dashed #ff4444;
  background-color: #fff5f5;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.waiting-text {
  color: #d32f2f;
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 500;
}

.invite-btn-link {
  background: none;
  border: none;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.1rem;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 15px;
}