:root {
  --font-family: 'Aptos', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  --primary-color: #212121;
  --bg-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  width: 100%;
  min-height: 100vh;
  color: var(--primary-color);
  overflow-x: hidden;
}

/* Inputs e Botões herdam a fonte */
input, button, textarea, select {
  font-family: var(--font-family);
}

/* Scrollbar Minimalista Global */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #ccc; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #bbb; }

/* --- MODO COMPUTADOR --- */
@media (min-width: 1024px) {
  body {
    background-color: #fff; /* Fundo limpo */
    display: block;
    padding: 0;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}