@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

:root {
  /* Paleta principal */
  --bg-yellow: #f5eea9;      
  --card-yellow: #f0dd62;    
  --primary-green: #61905d;  
  --text-dark: #333333;      
  --text-light: #ffffff;
  
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family);
  background-color: #dfd89c; /* Fundo externo escurecido para telas grandes */
  color: var(--text-dark);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 450px; /* Mantém proporção mobile no PC */
  min-height: 100vh;
  background-color: var(--bg-yellow);
  position: relative;
  overflow: hidden; /* Essencial para cortar as listras no limite da tela */
  box-shadow: 0 0 30px rgba(0,0,0,0.15); 
}

/* ==========================================================================
   LISTRAS DIAGONAIS GLOBAIS (Canto Inferior Direito)
   ========================================================================== */
#root::before {
    content: "";
    position: absolute;
    background-color: var(--primary-green);
    width: 250px;
    height: 12px; /* Reduzido (era 25px) */
    transform: rotate(-45deg);
    bottom: 25px; /* Empurrado mais para baixo */
    right: -80px; /* Empurrado mais para a direita */
    z-index: 0;
    pointer-events: none;
}

#root::after {
    content: "";
    position: absolute;
    background-color: #f8e464; /* Amarelo vivo */
    width: 250px;
    height: 12px; /* Reduzido (era 25px) */
    transform: rotate(-45deg);
    bottom: 8px;  /* Empurrado mais para baixo */
    right: -95px; /* Empurrado mais para a direita */
    z-index: 0;
    pointer-events: none;
}

/* Utilitários globais */
.btn-green {
  background-color: var(--primary-green);
  color: var(--bg-yellow);
  border: none;
  border-radius: 12px;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.1s;
  position: relative;
  z-index: 2; /* Garante que os botões fiquem acima das listras */
}

.btn-green:active {
  transform: scale(0.98);
}