@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap');

:root {
  --bg-yellow: #f5eea9;      
  --card-yellow: #f8e464;    
  --primary-green: #61905d;  
  --text-dark: #333333;      
  --text-light: #ffffff;
  --font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--font-family);
  background-color: #dfd89c; 
  color: var(--text-dark);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 450px; 
  min-height: 100vh;
  background-color: var(--bg-yellow);
  position: relative;
  overflow: hidden; 
  box-shadow: 0 0 30px rgba(0,0,0,0.15); 
}

#root::before {
    content: "";
    position: absolute;
    background-color: var(--primary-green);
    width: 250px;
    height: 12px; 
    transform: rotate(-45deg);
    bottom: 25px; 
    right: -80px; 
    z-index: 0;
    pointer-events: none;
}

#root::after {
    content: "";
    position: absolute;
    background-color: var(--card-yellow); 
    width: 250px;
    height: 12px; 
    transform: rotate(-45deg);
    bottom: 8px;  
    right: -95px; 
    z-index: 0;
    pointer-events: none;
}

.btn-green {
  background-color: var(--primary-green);
  color: var(--bg-yellow);
  border: none;
  border-radius: 12px;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.1s;
  position: relative;
  z-index: 2; 
}

.btn-green:active {
  transform: scale(0.98);
}